* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #4CAF50;
  }
  
  .container {
    max-width: 400px;
    width: 100%;
    margin: auto auto 0 10% ;
    position: relative;
    float:left;  
  }
  
  #form {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #form h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #form h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
  
  fieldset {
    border: 1px solid #aaa;  
    margin: 0 0 10px;
    min-width: 100%;
    padding:0 10px;
    width: 100%;
    -moz-border-radius:5px;
      -webkit-border-radius:5px;	
      border-radius:5px;
  }
  
  #form input[type="text"],
  #form input[type="email"],
  #form input[type="tel"],
  #form input[type="url"],
  #form select,
  #form textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #form input[type="text"]:hover,
  #form input[type="email"]:hover,
  #form input[type="tel"]:hover,
  #form input[type="url"]:hover,
  #form select:hover,
  #form textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #form textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #form button {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #form button:hover {
    background: #43A047;  
    transition: background-color 0.3s ease-in-out;
  }
  
  #form button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  #form input:focus,
  #form textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  } 